$header-height: 34px;
$toolbar-height: 40px;
$formula-height: 24px;
$info-cell-width: 40px;
$row-height: 24px;
$min-row-height: 20px;
$cell-width: 120px;
$min-cell-width: 50px;
$db-header-height: 64px;

$black: #333;
$white: #fff;
$light-grey: #eee;
$grey: #999;
$active-blue: #1a73e8;
$border-color: #c0c0c0;
$info-cell-bg: #f8f9fa;
$green: green;
