$header-height: 34px;
$toolbar-height: 40px;
$formula-height: 24px;
$info-cell-width: 40px;

$black: #000;
$white: #fff;
$light-grey: #eee;
$grey: #999;
$active-blue: #1a73e8;
$border-color: #c0c0c0;
$green: green;
